<div class="slider-section">
    <div class="slider">
        <div class="owl-carousel carousel carousel-nav-center" id="slide-carousel">
            <!-- slide item  -->
            <div class="slide-item">
                <img src="~/images/wanda-banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="slide-item-content">
                    <div class="item-content-wrapper">
                        <div class="item-content item-content-title top-down">Wanda </div>
                        <div class="item-content-infos top-down delay-2">
                            <div class="item-content-info  rating">
                                <i class="bx bx-star flip-rtl"></i>
                                <span>9.6</span>
                            </div>
                            <div class="item-content-info time">
                                <i class="bx bx-time flip-rtl"></i>
                                <span>120 mins</span>
                            </div>
                            <div class="item-content-info resolution">
                                <i class='bx bx-tv flip-rtl'></i>
                                <span>hd</span>
                            </div>
                          
                        </div>
                        <div class="item-content-description top-down delay-4">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <img src="~/images/supergirl-banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="slide-item-content">
                    <div class="item-content-wrapper">
                        <div class="item-content item-content-title top-down">super girl</div>
                        <div class="item-content-infos top-down delay-2">
                            <div class="item-content-info rating">
                                <i class="bx bx-star flip-rtl"></i>
                                <span>9.0</span>
                            </div>
                            <div class="item-content-info time">
                                <i class="bx bx-time flip-rtl"></i>
                                <span>90 mins</span>
                            </div>
                            <div class="item-content-info resolution">
                                <i class='bx bx-tv flip-rtl'></i>
                                <span>BluRay</span>
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <!-- end slide item  -->
@await Component.InvokeAsync("Movie")      
@await Component.InvokeAsync("Serie")
