@model IEnumerable<MovieShow.Models.Movie>
<div class="section">
    <div class="container">
        <div class="section-header">
            Latest Movies
        </div>
        <div class="movies-slid carousel-nav-center owl-carousel">
            @foreach (var movie in Model)
            {
                <!-- movie item  -->
                <a asp-controller="Movies" asp-action="Details"   asp-route-id="@movie.MovieId" class="movie-item">
                    <img src="@movie.Img" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            @movie.Title
                        </div>
                        <div class="item-content-infos">
                            <div class="item-content-info rating">
                                <i class="bx bx-star flip-rtl"></i>
                                <span>@movie.Rating</span>
                            </div>
                            <div class="item-content-info resolution">
                                <i class='bx bx-tv flip-rtl'></i>
                                <span>hd</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end movie item  -->
            }
        </div>
    </div>
</div>
